/*                      <-. (`-')_ (`-')      (`-').-> 
   <-.          .->      \( OO) )( OO).->   ( OO)_   
(`-')-----.(`-')----. ,--./ ,--/ /    '._  (_)--\_)  
(OO|(_\---'( OO).-.  '|   \ |  | |'--...__)/    _ /  
 / |  '--. ( _) | |  ||  . '|  |)`--.  .--'\_..`--.  
 \_)  .--'  \|  |)|  ||  |\    |    |  |   .-._)   \ 
  `|  |_)    '  '-'  '|  | \   |    |  |   \       / 
   `--'       `-----' `--'  `--'    `--'    `-----'  */

/*Use for Titles*/
@font-face {
    font-family: 'modern_typewriterregular';
    src: url('fonts/modern_typewriter/modern_typewriter-webfont.woff2') format('woff2'),
         url('fonts/modern_typewriter/modern_typewriter-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'badlystampedmedium';
    src: url('fonts/badlystamped/badlystamped-webfont.woff2') format('woff2'),
         url('fonts/badlystamped/badlystamped-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

/*Use for sub titles and buttons*/
@font-face {
    font-family: 'tox_typewriterregular';
    src: url('fonts/tox_typewriter/tox_typewriter-webfont.woff2') format('woff2'),
         url('fonts/tox_typewriter/tox_typewriter-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/*Use for actual text*/
@font-face {
    font-family: 'typoslab_irregular_demoRg';
    src: url('fonts/typoslab/typoslab_irregular_demo-webfont.woff2') format('woff2'),
         url('fonts/typoslab/typoslab_irregular_demo-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'atypewriterformemedium';
    src: url('fonts/atypewriterforme/atypewriterforme-webfont.woff2') format('woff2'),
         url('fonts/atypewriterforme/atypewriterforme-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

/*
 /$$      /$$           /$$          
| $$$    /$$$          |__/          
| $$$$  /$$$$  /$$$$$$  /$$ /$$$$$$$ 
| $$ $$/$$ $$ |____  $$| $$| $$__  $$
| $$  $$$| $$  /$$$$$$$| $$| $$  \ $$
| $$\  $ | $$ /$$__  $$| $$| $$  | $$
| $$ \/  | $$|  $$$$$$$| $$| $$  | $$
|__/     |__/ \_______/|__/|__/  |__/
                                     
*/

/*essentially just the background*/
body {
	background-color: white;
    margin: 0;
    padding: 0;
}

/*
   _____      _     _ 
  / ____|    (_)   | |
 | |  __ _ __ _  __| |
 | | |_ | '__| |/ _` |
 | |__| | |  | | (_| |
  \_____|_|  |_|\__,_|
                      
                      
*/

/*everything on top of the background*/
.grid {
	width: 1000px;
	height: 90%;
	margin: 0 auto;
	/* Top Bottom Left Right*/
	padding: 0;
	background-color: white;
}

/*Main Title: Which Conspiracy Theory are you?*/
h1 {
	font-family: 'modern_typewriterregular';
	font-size: 36pt;
	text-align: center;
    /*Keeps the height of the page consistant for rectangle effects
    */
    overflow: hidden;
    white-space: nowrap;
    padding-bottom: 20px;
}

/*Home Header*/
#homeHeader {
    font-family: 'modern_typewriterregular';
    font-size: 36pt;
    font-weight: bold;
    display: block;
    width: 1000px;
    margin-bottom: 10px;
    margin-left: 800px;
    margin-right: none;
    background-color: #FFFFFF;
    position: fixed;
    left: -500px;
}


/*
 ________     ,-----.    .-------.    ,---.    ,---.   .-'''-.  
|        |  .'  .-,  '.  |  _ _   \   |    \  /    |  / _     \ 
|   .----' / ,-.|  \ _ \ | ( ' )  |   |  ,  \/  ,  | (`' )/`--' 
|  _|____ ;  \  '_ /  | :|(_ o _) /   |  |\_   /|  |(_ o _).    
|_( )_   ||  _`,/ \ _/  || (_,_).' __ |  _( )_/ |  | (_,_). '.  
(_ o._)__|: (  '\_/ \   ;|  |\ \  |  || (_ o _) |  |.---.  \  : 
|(_,_)     \ `"/  \  ) / |  | \ `'   /|  (_,_)  |  |\    `-'  | 
|   |       '. \_/``".'  |  |  \    / |  |      |  | \       /  
'---'         '-----'    ''-'   `'-'  '--'      '--'  `-...-'                                                                   
*/
input[type="text"] {
    font-family: 'tox_typewriterregular';
    font-size: 30pt;
    font-weight: bold;
    width: 800px;
    display: block;
    margin-bottom: 10px;
    margin-left: 800px;
    margin-right: none;
    background-color: #FFFFFF;
    position: fixed;

}


input[type=text] {
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

input[type=text]:focus {
    /*gets rid of mac blue select ring*/
    outline: none;
}

input[type=text]:hover {


}

.specificOptionalQuestion {
    padding: 18px 20px;
    border: 0px solid black;

}

.rectangleBlackOut {
    height:60px;
    background:black;
    margin: 0;
    padding: 0;
    position: fixed;

}

/*First Name Question Section*/

#rectangleFirstNameRight {
    width:1500px;
    left: 830px;
    top: 142px;
}

#rectangleFirstNameLeft {
    width:600px;
    left: 0px;
    top: 142px;

}

#name-input {
    left: -200px;
    top: 135px;
}

/*Zip Code Question Section*/

#zipCodeInput {
    top: 220px;
    left: -450px;
}

#rectangleZipCodeRight {
    width:1500px;
    left: 530px;
    top: 230px;
}

#rectangleZipCodeLeft {
    width:360px;
    left: 0px;
    top: 230px;
}

/*High School Section*/

#high-school-input {
    top: 310px;
    left: -70px;
}

#rectangleHighSchoolRight {
    width:1500px;
    left: 1278px;
    top: 320px;
}

#rectangleHighSchoolLeft {
    width:740px;
    left: 0px;
    top: 320px;
}

/*Pharmacy*/

#pharmacy-input {
    top: 400px;
    left: -650px;
}

#rectanglePharmacyRight {
    width:1500px;
    left: 640px;
    top: 410px;
}

#rectanglePharmacyLeft {
    width:165px;
    left: 0px;
    top: 410px;
}

/*Children*/

#childrenInput {
    top: 490px;
    left: -300px;
}

#rectangleChildrenRight {
    width:1500px;
    left: 1280px;
    top: 500px;
}

#rectangleChildrenLeft {
    width:515px;
    left: 0px;
    top: 500px;
}
/*Bedtime*/

#bedtimeInput {
    top: 580px;
    left: -500px;
}

#rectangleBedtimeRight {
    width:1500px;
    left: 835px;
    top: 590px;
}

#rectangleBedtimeLeft {
    width:315px;
    left: 0px;
    top: 590px;
}

/*Date Input*/
#homeBirthdayInformer {
    font-family: 'tox_typewriterregular';
    font-size: 30pt;
    font-weight: bold;
    display: block;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    background-color: #FFFFFF;
    position: fixed;
    top: 655px;
    left: 200px;
    right: 800px;
    outline: none;
    width: 300px;
}

input[type="date"] {
    font-family: 'tox_typewriterregular';
    font-size: 30pt;
    font-weight: bold;
    display: block;
    margin-bottom: 10px;
    margin-left: 300px;
    margin-right: 0px;
    background-color: #FFFFFF;
    color: #757575;
    position: fixed;
    top: 680px;
    /*Somehow the only way this would stay in place*/
    left: 400px;
    right: 600px;
    outline: none;
    width: 300px;
}

#rectangleBirthdayRight {
    width:1500px;
    left: 920px;
    top: 680px;
}

#rectangleBirthdayMiddle {
    width: 240px;
    left: 460px;
    top: 680px;
}

#rectangleBirthdayLeft {
    width:195px;
    left: 0px;
    top: 680px;
}

input[type="submit"] {
    font-family: 'typoslab_irregular_demoRg';
    width: 400px;
    display: block;
    margin-bottom: 10px;
    margin-left: 400px;
    margin-right: auto;
    background-color: #FFFFFF;
    position: fixed;
    left: 100px;
    right: 800px;
}

#submitButton {
    position: fixed;
    top: 700px;
}

#submitButton {
    border: none;
    background-color: white;
    font-family: 'tox_typewriterregular';
    font-size: 30pt;
    padding: 10px 10px;
    text-align: center;
    position: fixed;
    top: 800px;
    

}

#anonymousButton {
    font-family: 'typoslab_irregular_demoRg';
    width: 40%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    background-color: #FFFFFF;
}

#rectangleBottom1 {
    width:1995px;
    left: 0px;
    top: 770px;
}
#rectangleBottom2 {
    width:1995px;
    left: 0px;
    top: 860px;
}
#rectangleBottom3 {
    width:1995px;
    left: 0px;
    top: 950px;
}
#rectangleBottom4 {
    width:1995px;
    left: 0px;
    top: 1040px;
}
#rectangleBottom5 {
    width:1995px;
    left: 0px;
    top: 1130px;
}
#rectangleBottom6 {
    width:1995px;
    left: 0px;
    top: 1220px;
}
/*
.-. .-')               .-') _    .-') _                     .-') _   .-')    
\  ( OO )             (  OO) )  (  OO) )                   ( OO ) ) ( OO ).  
 ;-----.\  ,--. ,--.  /     '._ /     '._  .-'),-----. ,--./ ,--,' (_)---\_) 
 | .-.  |  |  | |  |  |'--...__)|'--...__)( OO'  .-.  '|   \ |  |\ /    _ |  
 | '-' /_) |  | | .-')'--.  .--''--.  .--'/   |  | |  ||    \|  | )\  :` `.  
 | .-. `.  |  |_|( OO )  |  |      |  |   \_) |  |\|  ||  .     |/  '..`''.) 
 | |  \  | |  | | `-' /  |  |      |  |     \ |  | |  ||  |\    |  .-._)   \ 
 | '--'  /('  '-'(_.-'   |  |      |  |      `'  '-'  '|  | \   |  \       / 
 `------'   `-----'      `--'      `--'        `-----' `--'  `--'   `-----'  
*/

.confidentialSecretButtons {
	margin: 0 auto;

}

.hiddenButton {
    background-color: #FFFFFF;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
  
}

/*Parallax*/
header {
    position: relative;
    width: 100%;
    height: 90vh;
    background-color: transparent;
    margin-bottom: 0px;
    overflow: hidden;
}
/*Acquarius Pictures*/
.header-bg-acquarius {
    /*Keeps the image in place*/
    position: absolute;
    /*accross the whole screen*/
    width: 100%;
    height: 300%;
    background-image: url('./Images/Virgo-Moon-Landing/Moon-Landing-Parallax.png''./Images/Aquarius-The-Philadelphia-Experiement/Philadelphia-2.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.paperPageAcquarius {
    position: absolute;
    /*accross the whole screen*/
    width: 100%;
    height: 100%;
    background-image: url('./Images/Aquarius-The-Philadelphia-Experiement/Philadelphia-2.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

/*Aries Pictures*/
.header-bg-aries {
    /*Keeps the image in place*/
    position: absolute;
    /*accross the whole screen*/
    width: 100%;
    height: 300%;
    background-image: url('./Images/Aries-FEMA/FEMA-3.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.paperPageAries {
    position: absolute;
    /*accross the whole screen*/
    width: 100%;
    height: 100%;
    background-image: url('./Images/Aries-FEMA/FEMA-3.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

/*Cancer Pictures*/
.header-bg-cancer {
    /*Keeps the image in place*/
    position: absolute;
    /*accross the whole screen*/
    width: 100%;
    height: 300%;
    background-image: url('./Images/Cancer-Car-Suppression/Car-1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.paperPageCancer {
    position: absolute;
    /*accross the whole screen*/
    width: 100%;
    height: 100%;
    background-image: url('./Images/Cancer-Car-Suppression/Car-1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

/*Capricorn Pictures*/
.header-bg-capricorn {
    /*Keeps the image in place*/
    position: absolute;
    /*accross the whole screen*/
    width: 100%;
    height: 300%;
    background-image: url('./Images/Capricorn-Jesus-Wife-And-Kids/jesus-wife.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.paperPageCapricorn {
    position: absolute;
    /*accross the whole screen*/
    width: 100%;
    height: 100%;
    background-image: url('./Images/Capricorn-Jesus-Wife-And-Kids/jesus-wife.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

/*Gemini Pictures*/
.header-bg-gemini {
    /*Keeps the image in place*/
    position: absolute;
    /*accross the whole screen*/
    width: 100%;
    height: 300%;
    background-image: url('./Images/Gemini-Chilled-Envelope/envelope-2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.paperPageGemini {
    position: absolute;
    /*accross the whole screen*/
    width: 100%;
    height: 100%;
    background-image: url('./Images/Gemini-Chilled-Envelope/envelope-2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

/*Leo Pictures*/
.header-bg-leo {
    /*Keeps the image in place*/
    position: absolute;
    /*accross the whole screen*/
    width: 100%;
    height: 300%;
    background-image: url('./Images/Leo-illumanati/illumanati-1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.paperPageLeo {
    position: absolute;
    /*accross the whole screen*/
    width: 100%;
    height: 100%;
    background-image: url('./Images/Leo-illumanati/illumanati-1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

/*Libra Pictures*/
.header-bg-libra {
    /*Keeps the image in place*/
    position: absolute;
    /*accross the whole screen*/
    width: 100%;
    height: 300%;
    background-image: url('./Images/Libra-Paul-Is-Dead/Paul-Is-Dead-1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.paperPageLibra {
    position: absolute;
    /*accross the whole screen*/
    width: 100%;
    height: 100%;
    background-image: url('./Images/Libra-Paul-Is-Dead/Paul-Is-Dead-1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

/*Pisces Pictures*/
.header-bg-pisces {
    /*Keeps the image in place*/
    position: absolute;
    /*accross the whole screen*/
    width: 100%;
    height: 300%;
    background-image: url('./Images/Aries-FEMA/FEMA-3.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.paperPagePisces {
    position: absolute;
    /*accross the whole screen*/
    width: 100%;
    height: 100%;
    background-image: url('./Images/Aries-FEMA/FEMA-3.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

/*Sagittarius Pictures*/
.header-bg-sagittarius {
    /*Keeps the image in place*/
    position: absolute;
    /*accross the whole screen*/
    width: 100%;
    height: 300%;
    background-image: url('./Images/Aries-FEMA/FEMA-3.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.paperPageSagittarius {
    position: absolute;
    /*accross the whole screen*/
    width: 100%;
    height: 100%;
    background-image: url('./Images/Aries-FEMA/FEMA-3.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

/*Scorpio Pictures*/
.header-bg-scorpio {
    /*Keeps the image in place*/
    position: absolute;
    /*accross the whole screen*/
    width: 100%;
    height: 300%;
    background-image: url('./Images/Aries-FEMA/FEMA-3.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.paperPageScorpio {
    position: absolute;
    /*accross the whole screen*/
    width: 100%;
    height: 100%;
    background-image: url('./Images/Aries-FEMA/FEMA-3.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

/*Taurus Pictures*/
.header-bg-taurus {
    /*Keeps the image in place*/
    position: absolute;
    /*accross the whole screen*/
    width: 100%;
    height: 300%;
    background-image: url('./Images/Aries-FEMA/FEMA-3.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.paperPageTaurus {
    position: absolute;
    /*accross the whole screen*/
    width: 100%;
    height: 100%;
    background-image: url('./Images/Aries-FEMA/FEMA-3.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

/*Virgo Pictures*/
.header-bg-virgo {
    /*Keeps the image in place*/
    position: absolute;
    /*accross the whole screen*/
    width: 100%;
    height: 300%;
    background-image: url('./Images/Virgo-Moon-Landing/Moon-Landing-Parallax.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.paperPageVirgo {
    position: absolute;
    /*accross the whole screen*/
    width: 100%;
    height: 100%;
    background-image: url('./Images/Virgo-Moon-Landing/Moon-Landing-Parallax.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
/*Articles/Paragraphs*/
/*.transparency {
    width: 800px;
}*/

#content {
    margin: auto;
    width: 800px;
    padding: 5px 10px 20px 20px;
    background-color: white;
    text-align: center;
    border: #000000 1px solid
}



p {
    font-family: 'atypewriterformemedium';
    text-align: left;
    font-size: 20pt;
}